{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-7">
            <h2>
                Lift History
                <a href="#list-stuff-form" class="btn btn-md btn-success pull-right">
                    <span class="fa fa-plus"></span> Add
                </a>
            </h2>

            <table class="table table-striped js-rep-log-table">
                <thead>
                <tr>
                    <th>What</th>
                    <th>How many times?</th>
                    <th>Weight</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for repLog in repLogs %}
                    <tr>
                        <td>{{ repLog.itemLabel|trans }}</td>
                        <td>{{ repLog.reps }}</td>
                        <td>{{ repLog.totalWeightLifted }}</td>
                        <td>
                            <a href="#" class="js-delete-rep-log">
                                <span class="fa fa-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Get liftin'!</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <th>Total</th>
                        <th>{{ totalWeight }}</th>
                        <td>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>

            {{ include('lift/_form.html.twig') }}
        </div>
        <div class="col-md-5">
            <div class="leaderboard">
                <h2 class="text-center"><img class="dumbbell" src="{{ asset('assets/images/dumbbell.png') }}">Leaderboard</h2>

                {{ include('lift/_leaderboard.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            var $table = $('.js-rep-log-table');

            $table.find('.js-delete-rep-log').on('click', function (e) {
                e.preventDefault();

                console.log('todo delete!');
            });

            $table.find('tbody tr').on('click', function() {
                console.log('row clicked!');
            });
        });
    </script>
{% endblock %}
