{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h2>
                Record new Lifts
            </h2>

            <form action="{{ path('lift') }}" method="POST" class="form-inline" novalidate="novalidate">
                {{ form_errors(form) }}

                {{ form_row(form.item, {
                    'label': 'What did you lift?',
                    'label_attr': {'class': 'sr-only'}
                }) }}

                {{ form_row(form.reps, {
                    'label': 'How many times?',
                    'label_attr': {'class': 'sr-only'},
                    'attr': {'placeholder': 'How many times?'}
                }) }}

                {{ form_rest(form) }}

                <button type="submit" class="btn btn-primary">I Lifted it!</button>
            </form>

            {{ include('lift/_repLogs.html.twig') }}
        </div>
        <div class="col-md-6">
            <h2>Leaderboard</h2>

            {{ include('lift/_leaderboard.html.twig') }}
        </div>
    </div>
{% endblock %}