{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-7 js-rep-log-table">
            <h2>
                Lift History
            </h2>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>What</th>
                    <th>How many times?</th>
                    <th>Weight</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <th>Total</th>
                        <th class="js-total-weight"></th>
                        <td>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>

            <div class="js-new-rep-log-form-wrapper">
                {{ include('lift/_form.html.twig') }}
            </div>
        </div>
        <div class="col-md-5">
            <div class="leaderboard">
                <h2 class="text-center">
                    {#
                    <img class="dumbbell" src="{{ asset('build/static/dumbbell.png') }}" />
                    #}
                    Leaderboard
                </h2>

                {{ include('lift/_leaderboard.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.11.0/dist/sweetalert2.min.css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/rep_log.js') }}"></script>
    <script src="{{ asset('build/rep_log_react.js') }}"></script>
{% endblock %}
